<mat-card>
    <h1 class="card-title" mat-dialog-title>Info About {{cardsData[0]?.Name}}</h1>
<div class="card-content" mat-dialog-content >
    <div class="row">
        <div class="keys">Name: {{cardsData[0]?.Name}}</div>
        <div class="keys">ID: {{cardsData[0]?.ID}}</div>
    </div>
    <div class="row">
        <div class="keys">Gender: {{cardsData[0]?.Gender}}</div>
        <div class="keys">Class: {{cardsData[0]?.Class}}</div>
    </div>
    <div class="row">
        <div class="keys">Seat: {{cardsData[0]?.Seat}}</div>
        <div class="keys">Club: {{cardsData[0]?.Club}}</div>
    </div>
    <div class="row">
        <div class="keys">Persona: {{cardsData[0]?.Persona}}</div>
        <div class="keys">Crush: {{cardsData[0]?.Crush}}</div>
    </div>
    <div class="row">
        <div class="keys">Strength: {{cardsData[0]?.Strength}}</div>
        <div class="keys">Hairstyle: {{cardsData[0]?.Hairstyle}}</div>
    </div>
    <div class="row">
        <div class="keys">Color: {{cardsData[0]?.Color}}</div>
        <div class="keys">Eyes: {{cardsData[0]?.Eyes}}</div>
    </div>
    <h3>Info: {{cardsData[0]?.Info}}</h3>
    <!-- {{cardsData|json}} -->
</div>
<div class="card-actions" mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
</mat-card>